@model CastModel

<section class="breadcrumb-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb-area-content">
					<h1>Celebrities Page</h1>
				</div>
			</div>
		</div>
	</div>
</section><!-- breadcrumb area end -->
<!-- transformers area start -->
<section class="transformers-area">
	<div class="container">
		<div class="transformers-box">
			<div class="row flexbox-center">
				<div class="col-lg-5 text-lg-left text-center">
					<div class="transformers-content">
						<img src="@(PathTools.CastImageThumb+Model.ImageName)" alt="about" />
					</div>
				</div>
				<div class="col-lg-7">
					<div class="transformers-content mtr-30">
						<h2>@Model.Name</h2>
						<a href="#" class="theme-btn">Biography</a>
						<a href="#">Filmography</a>
						<ul>
							<li>
								<div class="transformers-left">
									Height:
								</div>
								<div class="transformers-right">
									5.7”
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Weight:
								</div>
								<div class="transformers-right">
									1136LB
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Eye Color:
								</div>
								<div class="transformers-right">
									Black
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Hair Color:
								</div>
								<div class="transformers-right">
									Black
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Age:
								</div>
								<div class="transformers-right">
									@Model.Age
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Language:
								</div>
								<div class="transformers-right">
									English, Russian
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Hobby:
								</div>
								<div class="transformers-right">
									Base Ball, Gaming, Exploring, Baook Reading
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Follow:
								</div>
								<div class="transformers-right">
									<a href="#"><i class="icofont icofont-social-facebook"></i></a>
									<a href="#"><i class="icofont icofont-social-twitter"></i></a>
									<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
									<a href="#"><i class="icofont icofont-youtube-play"></i></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- transformers area end -->
<!-- details area start -->
<section class="details-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="details-content">
					<div class="details-overview">
						<h2>Overview</h2>
						<p>
							@Model.Bio
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- details area end -->