@using System.Web
@model List<MovieModel>

@{
    var cardGroups = Model.Chunk(3);
}
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-area-content">
                    <h1>Movies Page</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach(var item in Model)
        {
            <div class="col">
                <div class="card">
                    <img src="~/assets/img/slide3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.MovieTitle</h5>
                        <p class="card-text">@Html.Raw(item.MovieDescription.Substring(0,150))</p>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@item.MovieId" class="theme-btn theme-btn2">Watch Movie</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">comment: @item.comments.Count()</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>