@using System.Web
@model List<MovieModel>

@{
    var cardGroups = Model.Chunk(3);
}
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-area-content">
                    <h1>Movies Page</h1>
                </div>
            </div>
        </div>
    </div>
</section>


@* @foreach(var cardGroup in cardGroups)
{
    <div class="card-group w-100 d-flex flex-row ps-3">
        @foreach(var card in cardGroup)
        {
            <div class="card">
                <img src="~/assets/img/hero-area.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@card.MovieTitle</h5>
                    <p class="" style="color: #000 !important;">@Html.Raw(HttpUtility.HtmlDecode(card.MovieDescription.Substring(0, 150)))</p>
                    <p class="card-text"><small class="text-body-secondary">@card.comments</small></p>
                </div>
            </div>
        }
    </div>
}
 *@

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="~/assets/img/slide3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/assets/img/slide3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/assets/img/slide3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/assets/img/slide3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>